<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting</title>
</head>
<body>
    <header class="main-header">
        <h1>영상만들기</h1>
    </header>
    <!-- 'action'을 '/'로 설정하여 현재 URL로 POST 요청을 보냅니다. -->
    <form method="post">
        <button class="button" type="submit" name="greet-button" id="greet-button">영상 만들기</button>
    </form>
    <!-- 서버로부터 받은 메시지를 화면에 출력합니다. -->
    <p>{{ message }}</p>
</body>
</html>