<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>영상 생성기</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <h1>유튜브 영상 대본을 빠르게 작성해보세요!</h1>
        </header>
        <div class="full-width-section">
            <!-- 왼쪽 섹션 -->
            <div class="left-section">

                <h3>입력한 영상 키워드: {{ user_input }}</h3>
                <h3>선택한 메인 주제: {{ selected_maintopic }}</h3>
                
                <!-- 스크립트 생성 폼 -->
                <form method="post" id="script-form">
                    <!-- 인풋창의 내용을 유지하기 위해 숨겨진 필드 추가 -->
                    <input type="hidden" name="user_input" value="{{ user_input }}">
                    <div class="subtopics-container">
                        {% for i in range(1, 11) %}
                            <div class="subtopic-item">
                                <!-- 이곳에 생성된 subtopic들이 표시됩니다. -->
                                <span class="subtopic-title" id="subtopic{{i}}">{{ subtopics[i-1] }}</span>
                                <input type="checkbox" class="subtopic-checkbox" id="test{{i}}" name="subtopic{{i}}"/>
                                <label for="test{{i}}"></label>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" name="script-button" id="script-button">스크립트 생성</button>
                </form>
            </div>
            <!-- 오른쪽 섹션 -->
            <div class="right-section">
                <div class="selected-subtopic"><h3>영상 스크립트 </h3></div>
                <div class="script-boxes">
                    <!-- 이곳에 선택한 subtopic과 textarea가 표시됩니다. -->
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}">
        </script>
    </body>
</html>