@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gowun+Dodum&display=swap');

body, html {
    margin: 0;
    padding: 0;
    overflow: auto; /* 스크롤 바 방지 */
    height: 100%; /* 전체 높이 설정 */
}

canvas {
    position: absolute;
    top: 0;     
    left: 0;
    z-index: -1; /* 다른 콘텐츠 뒤에 위치하도록 설정 */
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

/********************************************************************/
/* fix 헤더 */
header {
    position: fixed; /* 헤더를 페이지 상단에 고정 */
    width: 100%; /* 전체 너비 */
    color: #000; /* 텍스트 색상 설정 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 하단에 그림자 효과 추가 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    background-color: #F2F2F2;/* #D9D6D0;  초기 배경색을 연파랑색으로 설정 */
    /* 나머지 스타일은 이전에 제공한 CSS 코드를 유지 */
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.logo-container, .buttons-container {
    flex: 1; /* 로고와 버튼 컨테이너에 같은 크기 부여 */
}



/* header-nav */
.header-nav {
    flex: 3; /* 네비게이션 영역에 더 많은 공간 부여, 필요에 따라 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav a {
    margin: 0 35px; /* 좌우 간격을 적당히 조정 */
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
}

/* header 내의 로고 스타일 */
header .logo {
    width: 40px; /* header의 로고 크기를 30px로 조정 */
    height: auto;
}


/* 버튼 컨테이너 스타일링 */
.buttons-container {
    display: flex; /* 버튼들을 옆으로 나란히 배치 */
    align-items: center; /* 버튼들을 수직 중앙 정렬 */
    gap: 10px; /* 버튼 사이의 간격 */
}

/* 개별 버튼 스타일링 */
.buttons-container button {
    padding: 10px 20px; /* 버튼 패딩 */
    border: none; /* 버튼 테두리 제거 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    font-size: 1em; /* 글자 크기 */
}


#get-started-header {
    background-color: #007bff; /* get started 버튼 배경색 */
    color: #fff; /* get started 버튼 텍스트 색상 */
}

/* 우측 버튼 */
#login-button {
    background-color: transparent; /* 로그인 버튼 배경 투명 */
    color: #000; /* 로그인 버튼 텍스트 색상 */
    font-weight: bold; /* 글씨 굵게 */
    font-size: 1.05em; /* 기본 글씨 크기보다 10% 더 크게 */
    
    visibility: hidden; /* 로그인 버튼을 숨기지만, 공간은 유지 */
    
}

/********************************************************************/
/* 첫화면 */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 7%; /* 상단으로 조금 이동 */
}

#content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* 로고와 타이틀 사이의 간격 */
}
#logo {
    /* 로고 이미지 크기 조정, 필요에 따라 변경하세요. */
    width: 100px; /* 예시 크기, 실제 로고 크기에 맞게 조정 */
    height: auto;
}

#main-title {
    font-size: 5.5em;
    margin: 0;
    display: flex; /* 타이틀을 flex 아이템으로 만듭니다. */
    align-items: center; /* 수직 중앙 정렬을 위해 추가합니다. */
}
#sub-title {
    font-size: 1em;
    margin: 20px 0;
}


/* 버튼 */
#get-started-button {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: 2px solid transparent; /* 기본 상태에서 테두리를 투명하게 설정 */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    position: relative; /* pseudo-element를 위해 필요 */
    overflow: hidden; /* pseudo-element가 버튼 바깥으로 나가지 않도록 */
}


main#content {
    position: relative; /* 이제 원형들은 main 영역을 기준으로 위치합니다 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}




/* back */

#content-wrapper, #main-title, #sub-title, #get-started-button {
    position: relative;
    z-index: 2; /* 콘텐츠가 원들 위에 오도록 설정 */
}

.circle-border {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid rgba(135, 206, 235, 0.5); /* 연한 파랑색 테두리 */
    z-index: 1; /* 콘텐츠 뒤에 위치 */
}

/* 원형의 크기 조정 */
.circle-small {
    width: 20cm; /* 지름 15cm */
    height: 20cm;
    z-index: 1; /* 콘텐츠 뒤에 위치 */
}

.circle-large {
    width: 30cm; /* 지름 20cm */
    height: 30cm;
    z-index: 0; /* 작은 원 뒤에 위치 */
}

/*******************************************************************/
/* Products 섹션 스타일링 */
.products-section {
    background-color: white; /* 연보라색, teams 섹션과 동일 */
    min-height: 1000px; /* 최소 세로 길이 설정 */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 70px 0px;
    position: relative;
}

.products-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
}

.center-circle {
    width: 200px;
    height: 200px;
    background-color: #f7f7f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* 중앙 정렬 */
    margin-top: 340px; /* h2와의 여백 조정 */
}


.center-circle .logo {
    width: 50%; /* 로고 크기 조정, 필요에 따라 조절 */
    height: auto;
}

.outer-circle {
    position: absolute; /* 상대적 위치가 아닌 절대 위치로 설정 */
    width: 600px;
    height: 600px;
    border: 1px solid black;
    border-radius: 50%;
    top: calc(50% + 40px); /* h2의 높이와 여백을 고려해 조정 */
    left: 50%;
    transform: translate(-50%, -50%);
}

.tech-logo {
    position: absolute;
    width: 70px; /* 로고 크기 조정 */
    height: 70px;
    /* 각 이미지의 위치를 지정할 추가 스타일 필요 */
}



/* 예시: 1시 방향 */
.time-1 {
    top: 2%;
    left: 90%;
    transform: translate(-50%, -50%);
}
/* 예시: 2시 방향 */
.time-2 {
    top: 25%;
    left: 107%;
    transform: translate(-50%, -50%);
}

/* 예시: 3시 방향 */
.time-3 {
    top: 45%;
    left: 117%;
    transform: translate(-100%, -50%);
}

/* 예시: 4시 방향 */
.time-4 {
    top: 70%;
    left: 107%;
    transform: translate(-50%, -50%);
}

/* 예시: 5시 방향 */
.time-5 {
    top: 97%;
    left: 90%;
    transform: translate(-50%, -50%);
}

/* 예시: 6시 방향 */
.time-6 {
    top: 104%;
    left: 50%;
    transform: translate(-50%, 0%);
}
/* 예시: 7시 방향 */
.time-7 {
    top: 97%;
    left: 10%;
    transform: translate(-50%, -50%);
}

/* 예시: 8시 방향 */
.time-8 {
    top: 70%;
    left: -7%;
    transform: translate(-50%, -50%);
}

/* 예시: 9시 방향 */
.time-9 {
    top: 45%;
    left: -17%;
    transform: translate(0%, -50%);
}

/* 예시: 10시 방향 */
.time-10 {
    top: 25%;
    left: -7%;
    transform: translate(-50%, -50%);
}

/* 예시: 11시 방향 */
.time-11 {
    top: 2%;
    left: 10%;
    transform: translate(-50%, -50%);
}

/* 예시: 12시 방향 */
.time-12 {
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/********************************************************************/
/* Use cases 섹션 스타일링 */
.use-cases-section {
    padding: 60px 0;
    background-color: #f7f7f7;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
}

.container p {
    font-size: 1.2rem;
    margin-bottom: 150px;
    color: #000;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px; /* Adds space between rows */
}

.video-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative; /* For positioning the play button */
}

.video-card video {
    width: 100%;
    height: auto;
    display: block;
}

.video-card, .video-card video {
    cursor: pointer; /* 비디오 카드 및 비디오 위에 마우스를 올리면 포인터 커서 표시 */
}

/* 비디오 컨트롤 숨기기 */
.video-card video::-webkit-media-controls {
    display: none !important;
}

.additional-info {
    position: absolute;
    /* top: 10px; */
    left: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.video-card .additional-info {
    display: none;
}

.video-card:hover .additional-info {
    display: flex;
}

/* 부가설명 스타일 설정 */
.video-card .additional-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 반투명한 배경 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.additional-info p {
    color: white;
    font-size: 200%;
    font-family: 'Gowun Dodum';
    text-align: center;
    /* 다른 텍스트 스타일들 추가... */
    z-index: 2; /* 다른 요소보다 높은 쌓임 순서로 설정하여 비디오 위에 나타나도록 함 */
}

/* 비디오 카드에 마우스를 올리면 재생 버튼 보이기 */
/* .video-card:hover .custom-play-button {
    display: block;
} */

/* 기본 상태에서는 재생 버튼 숨기기 */
.custom-play-button {
    display: block; /* 항상 재생 버튼이 보이도록 변경 */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: url('/static/image/play-icon.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    z-index: 2; /* 버튼이 비디오 위에 나타나도록 z-index 설정 */
}

/* 전체 화면 및 어둡게 처리할 배경 스타일 */
.fullscreen-overlay {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    cursor: pointer;
}

/* 비디오 모달 스타일링 */
.video-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

/* 비디오 모달 컨테이너 */
.video-modal-content {
    width: 1200px;
    height: 800px;
    position: relative;
    background-color: transparent; /* 흰색 배경을 투명으로 변경 */
}

/* 모달 내 비디오 */
.video-modal-content video {
    width: 100%;
    height: auto;
}


/* 비디오 설명 스타일 */
.video-description {
    padding: 15px;
    background-color: #fff;
    font-family: 'Gowun Dodum';
}

.video-description p {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.video-description button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.video-description button:hover {
    background-color: #0055bb;
}

/* 반응형 레이아웃 조정 */
@media (max-width: 1280px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1281px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/********************************************************************/
/* team 영역 */


/* 팀 섹션 스타일링 */
.team-section {
    background-color: #f7f7f7; /* 배경색 지정 */
    padding: 50px 0; /* 상하 패딩 지정 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

#teams .container {
    max-width: 1200px; /* 컨테이너 최대 너비 설정 */
    margin: 0 auto; /* 좌우 마진 자동으로 설정하여 중앙 정렬 */
    padding: 0 15px; /* 좌우 패딩 추가 */
    display: flex; /* 플렉스 박스 사용 */
    justify-content: space-around; /* 내부 아이템들 사이에 균등 간격 */
    flex-wrap: wrap; /* 너비가 부족할 경우 다음 줄로 아이템이 넘어감 */
}

.team-section h2 {
    text-align: center; /* h2 제목 가운데 정렬 */
    margin-bottom: 150px; /* h2와 팀 멤버들 사이의 간격을 추가 */
    
}

.team-members-container {
    display: flex;
    justify-content: center; /* 컨테이너 내의 아이템들을 가운데 정렬 */
    flex-wrap: wrap; /* 너비가 부족할 경우 다음 줄로 아이템이 넘어감 */
    gap: 20px; /* 팀 멤버들 사이의 간격을 설정 */
}

.team-member {
    flex: 0 0 calc(25% - 20px); /* 네 개의 팀 멤버가 한 줄에 나타나도록 설정 (gap 값을 빼줌) */
    margin-bottom: 20px; /* 아래쪽 간격 추가 */
    /* 기타 스타일링 */
}



.team-member-photo {
    height: 380px; 
    width: 280px;
    border-radius: 50%; /* 사진을 원형으로 만듬 */
}

/* 팀 멤버의 직책 및 설명 스타일링 */
.team-member h3 {
    color: #333; /* 직책의 텍스트 색상 지정 */
    margin-top: 15px; /* 상단 마진으로 간격 조정 */
    font-size: 1.5em;
}

.team-member p {
    color: #666; /* 설명의 텍스트 색상 지정 */
    font-size: 1.1em; /* 글씨 크기 조정 */
    line-height: 1.5em;
}

.github-logo {
    width: 24px; /* 원하는 로고 크기 설정 */
    height: auto;
    margin-top: -20px; /* 이름과 로고 사이 간격 조정 */
    vertical-align: middle; /* 텍스트 중앙에 로고를 맞춤 */
}

/* Footer Styling */
footer {
    background-color: #000; /* 첫 화면 main 섹션과 같은 색상 */
    color: #fff; /* 흰색 텍스트 */
    text-align: center; /* 텍스트 중앙 정렬 */
    height: 150px; /* 푸터 높이 설정 */
    line-height: 150px; /* 텍스트를 푸터 높이에 맞게 중앙에 배치 */
    font-size: 0.95em;
}

footer p {
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
}
